* {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 960px) {
    .header.container, .footer {
        width: 960px;
        height: 500px;
    }

    .left, .right {
        width: 300px;
    }

    .main {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
    }

    .header {
        background-color: #f0ad4e;
    }

    .left, .main, .right {
        background-color: #0b97c4;
    }

    .footer {
        background-color: #2b542c;
    }

}

