@import "../../bootstrap-4.0.0-alpha/scss/bootstrap";

.header {
  position: relative;
  display: block;
  overflow: hidden;
  height: 600px;
  width: 100%;
  .background {
    position: absolute;
    display: block;
    opacity: 0.8;
    width: 100%;
    z-index: -1;
  }
  .nav-position {
    width: 100%;
    position: absolute;
  }
}